@media (max-width: 360px) {
    .container {
        max-width: 330px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 718px;
    }
}
@-webkit-keyframes opac {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes opac {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@-webkit-keyframes line {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100rem);
        transform: translateX(-100rem);
    }
}
@keyframes line {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100rem);
        transform: translateX(-100rem);
    }
}
@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-2deg) scale(1.02);
        transform: rotate(-2deg) scale(1.02);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1.03);
        transform: rotate(0deg) scale(1.03);
    }
}
@keyframes shake {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-2deg) scale(1.02);
        transform: rotate(-2deg) scale(1.02);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1.03);
        transform: rotate(0deg) scale(1.03);
    }
}
@-webkit-keyframes elastic {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes elastic {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.main .container {
    padding: 20px;
}
.main .container .favorite__content-section {
    display: grid;
    grid-template-columns: 331px 1fr;
    margin-bottom: 6rem;
}
.main .container .favorite__content-section .favorite__content-side {
    width: 281px;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
}
.main
    .container
    .favorite__content-section
    .favorite__content-side
    .sidebar__list
    .siderbar__item {
    margin-bottom: 2rem;
    border-bottom: 1px solid #f4f4f4;
    padding: 1.5rem 0;
}
.main
    .container
    .favorite__content-section
    .favorite__content-side
    .sidebar__list
    .siderbar__item:last-child {
    border-bottom: none;
    margin-bottom: 3.5rem;
}
.main
    .container
    .favorite__content-section
    .favorite__content-side
    .sidebar__list
    .siderbar__item
    .sidebar__link {
    font-weight: 550;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #373b3f;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.main
    .container
    .favorite__content-section
    .favorite__content-side
    .sidebar__list
    .siderbar__item
    .sidebar__link::after {
    content: "22";
    padding: 0.5rem 0.8rem;
    border-radius: 900px;
    border: 1px solid #f3f3f3;
}
.main
    .container
    .favorite__content-section
    .favorite__content-side
    .sidebar__list
    .siderbar__item
    .sidebar__link:hover {
    color: #186fd4;
}
.main
    .container
    .favorite__content-section
    .favorite__content-side
    .siderbar__btn {
    margin-bottom: 4.9rem;
}
.main
    .container
    .favorite__content-section
    .favorite__content-side
    .siderbar__btn
    .sidebar__btn-item {
    width: 100%;
    color: #fff;
}
.main
    .container
    .favorite__content-section
    .favorite__content-side
    .siderbar__btn
    .sidebar__btn2-item {
    width: 100%;
    color: #117fe3;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.main
    .container
    .favorite__content-section
    .favorite__content-side
    .siderbar__btn
    .sidebar__btn2-item:hover {
    color: #f3f4f5;
}
.main .container .favorite__content-section .sidebar__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 6px 44px 0px rgba(8, 29, 51, 0.0588235294);
    box-shadow: 0px 6px 44px 0px rgba(8, 29, 51, 0.0588235294);
    padding: 1.5rem;
    display: none;
    border-radius: 0.6rem;
}
.main
    .container
    .favorite__content-section
    .sidebar__mobile
    .sidebar__list-mobile {
    padding: 2.5rem 0;
    max-width: 35%;
    border: 1px solid #ebeef0;
    border-radius: 0.7rem;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}
.main
    .container
    .favorite__content-section
    .sidebar__mobile
    .siderbar__btn
    .sidebar__btn-item {
    width: 100%;
    color: #fff;
}
.main
    .container
    .favorite__content-section
    .sidebar__mobile
    .siderbar__btn
    .sidebar__btn2-item {
    width: 100%;
    color: #117fe3;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.main
    .container
    .favorite__content-section
    .sidebar__mobile
    .siderbar__btn
    .sidebar__btn2-item:hover {
    color: #f3f4f5;
}
.main .container .favorite__content-section .favorite__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.main .container .page__bottom-btns .bottom__btns-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}
.main
    .container
    .page__bottom-btns
    .bottom__btns-wrapper
    .page__bottom-btn
    .page__btn-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main .container .page__bottom-btns .bottom__btns-wrapper-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}
.main
    .container
    .page__bottom-btns
    .bottom__btns-wrapper-mobile
    .page__bottom-btn
    .page__btn-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 768px) {
    .main .container .favorite__content-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .main .container .favorite__content-section .favorite__content-side {
        display: none;
    }
    .main .container .favorite__content-section .sidebar__mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .main .container .favorite__content-section .favorite__cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .main
        .container
        .favorite__content-section
        .favorite__cards
        .favorite__card {
        width: 228px;
    }
}
@media (max-width: 360px) {
    .main .container .favorite__content-section .sidebar__mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding: 2rem 1.5rem;
    }
    .main
        .container
        .favorite__content-section
        .sidebar__mobile
        .sidebar__list-mobile {
        max-width: 100%;
        margin-bottom: 1.5rem;
        padding: 2.5rem 4.5rem;
    }
    .main
        .container
        .favorite__content-section
        .sidebar__mobile
        .siderbar__btn {
        margin-bottom: 1.5rem;
    }
    .main
        .container
        .favorite__content-section
        .sidebar__mobile
        .siderbar__btn
        .sidebar__btn-item {
        padding: 2.5rem 3.2rem;
    }
    .main
        .container
        .favorite__content-section
        .sidebar__mobile
        .siderbar__btn
        .sidebar__btn2-item {
        padding: 1.7rem 5.2rem;
    }
    .main .container .favorite__content-section .favorite__cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .main
        .container
        .favorite__content-section
        .favorite__cards
        .favorite__card {
        width: 157px;
    }
    .main .container .page__bottom-btns .bottom__btns-wrapper {
        display: none;
    }
    .main .container .page__bottom-btns .bottom__btns-wrapper-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .main
        .container
        .page__bottom-btns
        .bottom__btns-wrapper-mobile
        .page__bottom-btn
        .page__btn-item
        .btn__item-img {
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        padding: 0.4rem 0;
    }
}
